.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 0%;
}


.modal-content{
    background: lightsteelblue;
    border-radius: 6%;
    width: 50%;
    height: fit-content;
    margin-bottom: 15%;

}

button{
    margin-left: 75%;
    margin-bottom: 5%;
}
